<nav class="navbar">
    <div class="navbar-container">
        <div class="logo">RzxCheat</div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-menu" id="nav-menu">
            <li><a href="index.html">Beranda</a></li>
            <li>
                <a href="#">Game</a>
                <ul class="dropdown">
                    <li><a href="Cheatv1.html">Cheat v1</a></li>
                    <li><a href="Cheatv2.html">Cheat v2</a></li>
                    <li><a href="Cheatv3.html">Cheat v3</a></li>
                    <li><a href="Cheatv4.html">Cheat v4</a></li>
                    <li><a href="Cheatv5.html">Cheat v5</a></li>
                    <li><a href="Cheatv6.html">Cheat v6</a></li>
                    <li><a href="Cheatv7.html">Cheat v7</a></li>
                    <li><a href="Cheatv8.html">Cheat v8</a></li>
                </ul>
            </li>
            <li><a href="tentang.html">Tentang Kami</a></li>
            <li><a href="https://wa.me/62881023785858">Kontak</a></li>
        </ul>
    </div>
</nav>